*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Left Content */

body{
    background: #FAFAFA;
}

#navbar{
    display: flex;
    background: #fff;
    height: 4em;
    align-items: center;
    border-bottom: rgb(205, 205, 205) solid 1px;
    justify-content: space-between;
    /* padding: 0 290px; */
    padding: 0 17%;
}

#navbar #left-content img#logo{
    margin-bottom: -7px;
}

/* Middle Content */

#middle-content input{
    width: 15em;
    height: 1.5em;
    padding: 2px;
    text-align: center;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px;
    background: #fafafa;
}

/* Right Content */

#right-content #log-in{
    background: #3897F0;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 9px;
}

#right-content #sign-up{
    color: #3897F0;
    border: none;
    border-radius: 4px;
    padding: 5px 9px;
    background: transparent;
}

@media screen and (max-width: 425px){
    #navbar{
        padding: 0 2%;
    }
    #middle-content{
        display: none;
        height: 3em;
    }
}